app/presentation/ui/commit.txt
app/presentation/ui/README.md
app/presentation/ui/time-dark.svg
app/presentation/ui/time-light.svg
app/presentation/ui/time.svg
.dockerignore
docker-compose.yml
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
venv/

# Database
*.db

# Sessions
sessions/

# IDE
.vscode/

# Logs
*.log